.navbar{
    width: 50%;
    margin: auto;
    padding: 10px 10px;
    display: flex;
    align-items:flex-end;
    justify-content:space-between;
    flex-direction:column;
    overflow: hidden;
    height:auto ;
    width: auto;    

}
.logo{
    width: 44px;
    height: 44px;
    display: block;
    position:fixed;
    left: 21;
    top:45;
    
}
.navbar ul li {
    list-style: none;
    margin:12px;
    left: 70px;
    top: 20px;
}
.content{
    margin-top: 100px;
    display:inline-block;
}

.content h1{
    font-size: xx-large;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}
.content p {
    font-size: medium;
}
.navbar ul{
    margin: 5px;
    padding: 5px;
    flex-direction: column;
    width: auto;
    height: auto;
}